<<<<<<< HEAD
.title-explosive {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: center;
}
=======
.explosive {
  font-size: 3rem;
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  margin-top: 2rem;
}
>>>>>>> 4a68468905ce0622c2dfd4d057aa1a140c1b4ef2
